@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s, color 0.5s;
}

.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: var(--navbar-bg);
  width: 100%;
  transition: background-color 0.5s;
  box-sizing: border-box;
}

.strip {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
}

.strip .logo {
  margin-left: 10%;
  margin-right: 70px;
}

.strip .under ul {
  display: flex;
  list-style: none;
}

.strip .under li {
  margin-right: 40px;
  font-size: 20px;
}

.strip .under a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.5s;
}

.strip .under a:hover {
  color: var(--link-hover-color);
  transition: 0.5s;
}

.strip .motyw {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.strip .buy-button {
  margin-left: 30px;
}

.logo a {
  text-decoration: none;
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: 25px;
  transition: color 0.5s;
}

.buy-button {
  background-color: rgb(88, 90, 241);
  width: 120px;
  height: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 100px;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.buy-button a {
  text-decoration: none;
  color: white;
}

.buy-button i {
  margin-right: 7.5px;
}

.buy-button:hover {
  background-color: rgb(47, 50, 233);
  transition: 0.5s;
}

.motyw {
  display: flex;
  align-items: center;
}

.main-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 27px;
  margin: 0 10px;
}

.main-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.motyw-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.motyw-switch:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.1s;
  border-radius: 50%;
}

input:checked + .motyw-switch {
  background-color: rgb(88, 90, 241);
}

input:checked + .motyw-switch:before {
  transform: translateX(16px);
}

:root {
  --navbar-bg: white;
  --text-color: black;
  --link-hover-color: rgb(88, 90, 241);
  --main-bg-gradient: linear-gradient(
    to right,
    #111224,
    #2e2963,
    #746bba,
    #e9d5e1
  );
  --body-bg-color: white;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

body.dark-mode {
  --navbar-bg: black;
  --text-color: white;
  --link-hover-color: rgb(150, 150, 241);
  --body-bg-color: rgb(10, 12, 34);
}

body.light-mode {
  --navbar-bg: white;
  --text-color: black;
  --link-hover-color: rgb(88, 90, 241);
  --body-bg-color: white;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.exercise-command {
  background-color: #f5f5f5;
  color: #333;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 20px auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.exercise-command a {
  text-decoration: none;
  color: black;
}

.exercise-command:hover {
  transform: translateX(10px);
  background-color: #e0e0e0;
}

body.dark-mode .exercise-command {
  background-color: #444;
}

body.dark-mode .exercise-command a {
  color: white;
}

body.dark-mode .exercise-command:hover {
  background-color: #555;
}
